

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    background-color: #FAF7F2;
    
}

header {
    background-image: url(/src/assets/iteration-1/home-banner.png);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 2rem;
    
}

.elements {
    padding-top: 2rem;
}

.elements .letter{
    padding-top: 2rem;
}

.fonetik {
    color:#FDC913 ;
    font-family: Satisfy;
    font-weight: 400;
    font-size: 2rem;
}

h2 {
    color: white;
    font-size: clamp(2.5rem, 6vw, 5.375rem);
    font-family: 'Roboto Condensed';
    font-weight: 300;
}

.btn-header {
    font-family: 'Barlow';
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 50px;
    padding: 0.8rem 3.5rem;
    background-color: #FDC913;
    
    cursor: pointer;
}

.btn-header:hover {
    background-color: white;
    border: 1px solid red;
    color: red;
    
}